# VeeRwolf GPIO configuration options

# Copyright (c) 2020 Olof Kindgren <olof.kindgren@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config GPIO_VEERWOLF
	bool "VeeRwolf GPIO driver"
	select GPIO
	depends on SOC_RISCV32_VEERWOLF
	help
	  Enable VeeRwolf GPIO driver.
